#x-path-css-selecter-tool {
    border-width: 0 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 136px !important;
    z-index: 99999999 !important;
    transform: translate3d(0, 0, 0) !important;
    transition: transform 0.3s ease-out !important;
  }
  
  #x-path-css-selecter-tool.bottom {
    top: auto !important;
    bottom: 0 !important;
  }
  
  #x-path-css-selecter-tool.hidden {
    transform: translate3d(0, -100%, 0) !important;
  }
  
  #x-path-css-selecter-tool.hidden.bottom {
    transform: translate3d(0, 100%, 0) !important;
  }
  
  .x-path-css-selecter-tool-highlight {
    background-color: #fff59d !important;
  }
  
  img.x-path-css-selecter-tool-highlight {
    opacity: 0.5 !important;
  }